#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.single-volume-card {
  background-color: #E6EAEC;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 60px;
  padding: 10px;
}

.total-volume-card {
  background-color: #E6EAEC;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
}

.form-control {
  border: transparent;
  border-bottom: solid #E6EAEC 3px;
}

.btn-delete {
  cursor: pointer;
  background-color: #E6EAEC;
  color: white;
  font-weight: 900;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  border: solid #E6EAEC 3px;
  margin-bottom: 10px;
}

.btn-global-delete {
  cursor: pointer;
  background-color: #E6EAEC;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  color: white;
}

.checkbox {
  cursor: pointer;
  background-color: #E6EAEC;
  color: white;
  font-weight: 900;
  height: 30px;
  width: 30px;
  text-align: center;
  border: solid #E6EAEC 3px;
  margin-bottom: 10px;
}

.flex-card-header {
  display: flex;
  justify-content: space-between;
}
